.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0e1c36;
}

.medinfo4u {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 75%;
  margin: 10px;
  padding-left: 20px;
}

.budgettracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 75%;
  margin: 10px;
  padding-left: 20px;
}

.xchangegame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 75%;
  margin: 10px;
  padding-left: 20px;
}
